In [5]:
nova_tupla = tuple('Teste')
nova_tupla

('T', 'e', 's', 't', 'e')

In [9]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene', 'Cibele', 'Zuely')
tupla_nomes.count('Marlene')
print (tupla_nomes.count('Suely'))
print(tupla_nomes.count('Zezinho'))

0
1

In [16]:
nova_tupla = 1,2,2,3,4,4,4,5
nova_tupla.count(4)

3

In [19]:
dicio = {'chave': 'valor'}
print(dicio)

{'chave': 'valor'}

In [47]:
d = {'laranjas': 15, 'bananas': 35, 'siriguelas': 12}
d ['bananas']

35

In [48]:
d ['pitomba'] = 20
len(d)

4

In [38]:
'pitomba' in d

True

In [40]:
'pears' in d

False

In [51]:
del d['laranjas']
'laranjas' in d

KeyError: 'laranjas'

In [55]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]
print([1,2] + [3,4])
print(frutas + [6,7,8,9])
print([0]*4)
print(([1,2, ['oi', 'tchau']]*2))

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]